.about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.text {
    text-align: center;
}

.about-me-text {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 2rem;
    flex-direction: column;
    border-right: 1px solid gray;
    flex: 1;
}

.about-image {
    /* border-right: 1px solid gray; */
    flex: 1;
}

.about-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.about-skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}


/* .about-skill li {
    list-style-type: none;
} */

.languages .frameworks {
    flex: 1;
}