.about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.about-me-text {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 2rem;
    flex-direction: column;
    width: 33%;
    border-right: 1px solid gray;
}

.about-image {
    width: 33%;
    /* border-right: 1px solid gray; */
}

.about-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.about-skill {
    width: 33%;
}

.about-skill li {
    list-style-type: none;
}

.languages {
    width: 100%;
    display: flex;
    flex-direction: row;
}